<style>
  .btn-search{
    background-color: #fb3d5d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fb3d5d;
    color: white;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
      }
  .search-input{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand web-name d-flex align-items-center" href="/listings" >
    <img src="/images/travish_p.png" alt="Travish Logo" style="height:40px; width: auto;">
    <span style="font-family: 'Plus Jakarta Sans', sans-serif; letter-spacing: 1px; color:#fb3d5d;"> <b>TRAVISH</b> </span>
</a>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
      <input class="form-control me-2 search-input" type="search" placeholder="Search By Locations" name="location"/>
      <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
      </div>
       
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Share Your Space</a>
        <% if(!currUser){  %>
          <a class="nav-link " href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>

          <% } %> 
          <% if(currUser){ %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
            <% } %>
        
        
      </div>
    </div>
  </div>
</nav>